{erl_opts, [warnings_as_errors, debug_info]}.

{port_env,
 [{"linux",  "DRV_CFLAGS",  "$DRV_CFLAGS -O2 -Wall -pedantic -Wextra -Wno-unused-parameter"},
  {"darwin", "DRV_CFLAGS",  "$DRV_CFLAGS -fno-common"},
  {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -liconv"},
  {"freebsd", "DRV_LDFLAGS", "$DRV_LDFLAGS -liconv"}]}.

{port_specs, [{"priv/iconverl.so", ["c_src/iconverl.c"]}]}.
